.canvus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
}

.tape1 {
    margin-top: 10px;
    margin-bottom: 10px;
    top: 100px;
    background-color: rgba(255,255,255,.4);
    border-left:2px dotted rgba(0,0,0,.1);
    border-right:2px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: rotate(-4deg);
}

.tape-red {
    position: relative;
    margin-top: 10px;
    top: 25px;
    margin-bottom: 10px; 
    background-color: #ffa07a;
    border-left:2px dotted rgba(0,0,0,.1);
    border-right:2px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: translateX(-50%);
    transform: rotate(-4deg);
}

.tape-green {
    position: relative;
    margin-top: 10px;
    top: 25px;
    margin-bottom: 10px;
    background-color: #98fb98;
    border-left:2px dotted rgba(0,0,0,.1);
    border-right:2px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: translateX(-50%);
    transform: rotate(-4deg);
}

.tape-blue {
    position: relative;
    margin-top: 10px;
    top: 25px;
    margin-bottom: 10px;
    background-color: #afeeee;
    border-left:2px dotted rgba(0,0,0,.1);
    border-right:2px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: translateX(-50%);
    transform: rotate(-4deg);
} 

.maste {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.test {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.tape1-disp1 {
    position: relative;
    margin-top: 10px;
    top: 25px;
    margin-bottom: 10px;
    background-color: rgba(250,250,250,1);
    border-left:2px dotted rgba(0,0,0,.1);
    border-right:2px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: translateX(-50%);
    transform: rotate(-4deg);
}

.disp1 {
}
