@charset "utf-8";
/*主題*/
h1{
    color:rgb(240, 35, 13);
    font-family:cursive;
}
/*基本情報*/
.info{
    background-color: rgba(165, 42, 42, 0.466);
    font-family: serif /*'M PLUS Rounded 1c', sans-serif;*/
}
.info_sent{
    font-size: 15px;
}
/*動画*/
.movie{
    text-align: center;
}
